.chairman-message-container{
    width: 100%;
    min-height: 80%;
    height: 80%;
    background: #badc58;
    position: relative;
    top: 20%;
}

.message-profile{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 1% 0%;
}

.message-profile>div{
    width: 40%;
    height: 100%;
    display: block; 
     
}

.image-holder{
    /* background:#6ab04c; */
    padding: 0.8% 7%;
}

.image-holder img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border: 1px dotted #6ab04c;
}

.profile-holder{
    text-align: center;
    padding: 8% 0%;
}

.profile-holder h1{
    font-size: 3vw;
    font-weight: 900;
    color: #130f40;
}
/* 

.profile-holder h2{
    font-size: 1.5vw;
    font-weight: 500;
    margin: 2% 0%;
}

.profile-holder h3{
    font-size: 1vw;
    font-weight: 300;
} */

.message{
    width: 100%;
    height: 40%;
    position: relative;
}

.message-text{
    width: 80%;
    height: 100%;
    margin:0 auto;
    padding: 1% 5%;
    color: #008F4A;
    text-align: justify;
}

.message-text p{
    font-size: 1.1vw;
    font-weight: 400;
}

.ceo-message-container{
    width: 100%;
    min-height: 100%;
    height: 100%;
    clear: both;
    position: relative;
    background: rgb(124, 175, 76);
    
}

.ceo{
    color: #130F40;
}

.ceo h1{
    color: #FADC37;
}

.teams-container, .clients-container{
    width: 100%;
    min-height: 100%;
    height: 100%;
    background: #F8F8F8;
    padding: 5% 10%;
    overflow: hidden;
}

.teams-heading, .clients-heading{
    width: 100%;
    min-height: 20%;
    height: auto;
    display: block;
}

.teams-heading h1, .clients-heading h1{
    font-size: 2.5vw;
    font-weight: 700;
    color: #0B98D2;
    display: block;
}

.team-heading p, .clients-heading p{
    font-size: 1.1vw;
    color: #000;
    font-weight: 300;
    display: block;
}

.teams-info, .clients-info{
    display: flex;
    width: 100%;
    min-height: 80%;
    height: 100%;
}

.teams-info>div, .clients-info>div{
    width: 25%;
    height: 100%;
    display: block;
    text-align: center;
    padding:2% 2%;
    color: #000;
    font-size: 1vw;
    font-weight: 300;
    display: block;
}

.teams-info>div img, .clients-info>div img{
    max-width: 100%;
    max-height: 100%;
}

.teams-info>div h2, .clients-info>div h2{
    color: #0B98D2;
    font-size: 1.5vw;
    font-weight: 700;
    display: block;
}

.teams-info>div:hover, .clients-info>div:hover{
    background: #fff;
}

.clients-container{
    background: rgb(247, 250, 78);
}