.navbar {
    background-color:#b3d1ff !important;
    border: 0px !important;
    border-radius: 0px !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
     color = white !important;
}

.input-group{
    width:260px !important;
    border-radius:1%;
}

.table table-hover{
    overflow-y: scroll !important;
}